body {
  background: #333333;
  color: white;
  font-family: velvetica;
}
Card {
  background-color: black;
}
.hoverBorder {
  width: 70%;
  height: 100%;
}
img {
  width: 100%;
}
.hoverBorderbottom {
  width: 70%;
  height: 80%;
}
.hoverBorder:hover {
  transform: scale(1.3);
  border: 4px dashed gold;
}
.hoverBorderbottom:hover {
  transform: scale(1.3);
  border: 4px dashed gold;
}
