body {
  background: #333333;
  color: white;
  font-family: velvetica;
}
Card {
  background-color: black;
}
.hoverBorder {
  width: 270px;
  height: 100px;
}
.hoverBorder:hover {
  transform: scale(1.3);
  border: 6px dashed gold;
}
